{#
/**
 * @file
 * Custom theme implementation for the Horizontal tabs field.
 *
 * Available variables:
 * - heading_level: h3, h4, h5.
 * - header: The Headline.
 * - content: The content field.
 * - id: an HTML ID that differentiates this tab group.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('utexas-flex-list--item') }}>
  <{{ heading_level }} {{ title_attributes.setAttribute('id', id) }}>{{ header }}</{{ heading_level }}>
  <div {{ content_attributes.addClass('utexas-flex-list--content') }}>{{ content }}</div>
</div>
