{#
/**
 * @file
 * Custom theme implementation to display a Featured Highight paragraph.
 *
 * Available default variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * Available custom variables:
 * - {{ processed_headline }} : provides the headline text, with link from the call to
 * action, if that URL has been defined. See
 * utexas_paragraph_feat_highlight_preprocess_paragraph__utexas_featured_highlight()
 * - Separate from the other field-level variables "set" below,
 * if you want to print the raw headline field (no linking behavior), use:
 * {% set headline = content.field_utexas_fh_headline %}
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'utexas-featured-highlight'
  ]
%}
{% set cta = content.field_utexas_fh_cta %}
{% set copy = content.field_utexas_fh_copy %}
{% set date = content.field_utexas_fh_date %}
{% set media = content.field_utexas_fh_media %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="image-wrapper">
      {{ media }}
    </div>
    <div class="content-wrapper">
      {{ date }}
      <h2 class="ut-headline">{{ processed_headline }}</h2>
      {{ copy }}
      {{ cta }}
    </div>
  </div>
{% endblock paragraph %}