{#
/**
 * @file
 * Custom theme implementation to display the site announcement.
 *
 * Available custom variables:
 * - title : a brief string of text.
 * - icon : an SVG icon.
 * - message : a medium-length string of text.
 * - cta: a link and title.
 * - scheme: a class name intended to indicate a corresponding color scheme.
 *
 * @ingroup themeable
 */
#}
<div id="{{ unique_id }}" class="announcement-content">
  <h2 class="announcement-title">
    <span class="announcement-icon">{{ icon }}</span>
    {% if title %}
      {{ title }}
    {% endif %}
  </h2>
  <div class="announcement-body">{{ message }}</div>
  {% if cta %}
    <div class="ut-btn cta">{{ cta }}</div>
  {% endif %}
</div>