{#
/**
 * @file
 * Custom theme implementation for the Hero field when Style 1 has been chosen.
 *
 * Available variables:
 * - media: An image or video -- ensure that you handle display for either.
 * - heading: a string of text meant to be prominently displayed
 * - subheading: a string of text, subsidiary to the heading
 * - cta_uri: a URI. May be use to wrap other elements.
 * - cta_title: a string of text meant to be displayed as a button.
 * - anchor_position: a css class that specifies the image position preference.
 *
 */
#}
<div class="ut-hero hero--photo-orange-insert">
  {% if media_identifier %}
  <div id="{{ media_identifier }}" class="hero-img {{ anchor_position }}">
    <span class="sr-only">{{ alt }}</span>
  </div>
  {% endif %}
  {% if heading or subheading or cta_uri %}
  <div class="hero-content">
    <div class="hero-callout">
      {% if heading %}
        <div class="hero-headline">{{ heading }}</div>
      {% endif %}
      {% if subheading %}
        <div class="hero-subhead">{{ subheading }}</div>
      {% endif %}
      {% if cta_uri %}
        <div class="hero-cta">
          {{ link(cta_title, cta_uri, { 'class':['ut-btn--hero']} ) }}
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
