{#
/**
 * @file
 * Default theme implementation to display a 50/50 layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - background_image: style attribute that provides the background image
 *
 * @ingroup themeable
 */
#}

{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ background_image }}></div>
        <div class="layout--utexas-50-50--container">
        {% if content.left %}
            <div {{ region_attributes.left.addClass('layout__region', 'layout__region--left') }}>
                {{ content.left }}
            </div>
        {% endif %}
        {% if content.right %}
            <div {{ region_attributes.right.addClass('layout__region', 'layout__region--right') }}>
                {{ content.right }}
            </div>
        {% endif %}
        </div>
    </div>
{% endif %}