{#
/**
 * @file
 * Default theme implementation to display a 66/33 layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - background_image: style attribute that provides the background image
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ background_image }}></div>
        <div class="layout--utexas-66-33--container">
            {% if content.main %}
                <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
                    {{ content.main }}
                </div>
            {% endif %}
            {% if content.sidebar %}
                <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar') }}>
                    {{ content.sidebar }}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}